<div class="modal-content modal modal-wide" style="width: auto; max-width: 600px;">
  <div class="modal-header">
    <h4 class="modal-title order-2" i18n="Mail Sender Title Modal@@MailSenderTitleModal">Mail Sender</h4>
    <button type="button" class="close order-1" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="width: auto; height: auto; max-height: 100%;">
      <div class="container">
        <div class="col-xs-12">
            <form class="form">
              <fieldset class="form__fieldset">

                <legend class="form__legend" align="right" i18n="Description Mail Sender Modal@@DescriptionMailSenderModal">Mail for all members of the group</legend>
                <label class="form__label" for="subject"></label>
                <input class="form__input" type="text" placeholder="Subject" id="subject" name="subject" [(ngModel)]="subject" required autocomplete="off" i18n-placeholder="Subject Of Mail In Mail Sender Modal@@SubjectOfMailInMailSenderModal">
                <br>
                <textarea placeholder="Your text" id="text" name="text" rows="4" [(ngModel)]="text" i18n-placeholder="Text Of Mail In Mail Sender Modal@@TextOfMailInMailSenderModal"></textarea>
                <textarea placeholder="" id="textSign" name="textSign" rows="1" [(ngModel)]="textSign" disabled></textarea>
              </fieldset>
            </form>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <fieldset class="w-100">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()" i18n="Cancel Send Mail In Mail Sender Modal@@CancelSendMailInMailSenderModal">Cancel</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSend()" i18n="Send Mail In Mail Sender Modal@@SendMailInMailSenderModal" style="margin-left: 5px;">Send</button>
    </fieldset>
  </div>
</div>
