<br>
<div class="container">

    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
        <div class="input-group">
            <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
          <input type="search" name="nameGroup" [(ngModel)]="nameGroup" placeholder="Search groups" aria-describedby="button-addon1" class="form-control border-0 bg-light" i18n-placeholder="searchGroups| placeholder input for search groups@@searchGroups">
          <div class="input-group-append">
            <!-- <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button> -->
          </div>
        </div>
    </div>

</div>
<hr style="border: none;
background-color: black;
opacity: 0.2;
height: 12px;
width: 1400px;">
<br>
<div class="row">
  <div class="col-lg-12">
    <h1 style="text-align: center" i18n="My Groups| Where im admin@@MyGroups">My Groups</h1>
    <app-groups-list [mygroups]="false" [groups]="groups" [groupsAdmin]="groupsAdmin" [nameGroupp]="nameGroup"></app-groups-list>
  </div>
</div>
