<br>
<div class="container">

    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
        <div class="input-group">
            <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
          <input type="text" class="form-control border-0 bg-light" aria-describedby="button-addon1" name="namePerson" [(ngModel)]="namePerson" style="" placeholder="Search users" i18n-placeholder="Search Users| placeholder for search users@@SearchUsers">
          <div class="input-group-append">
          </div>
        </div>
    </div>



</div>
<br>
<div class="row" *ngIf="groupDetailService.existGroup()">
  <div class="col-lg-12">

    <div class="container align-items-center justify-content-center">
      <div class="input-group" style="width: 475px; margin: 0 auto; float: none;" *ngIf="changeName">
          <button class="btn btn-primary" type="button" id="savename" (click)="onSaveName(changingName)" i18n="Save Changing Name Button| Save name in changing name of groups@@SaveNameGroup">Save Name</button>
          <button class="btn btn-danger" type="button" id="cancel" (click)="onCancelChangingName()" i18n="Cancel Changing Name Button| Changing changing name in name of groups@@CancelNameGroup">Cancel</button>
        <input type="text" class="form-control" id="nameInput" placeholder="" [value]="groupDetailService.getGroupName()" [(ngModel)]="changingName">
        <div class="input-group-prepend">
          <!-- <button class="btn btn-primary" type="button" id="savename" (click)="onSaveName(changingName)" i18n="Save Changing Name Button| Save name in changing name of groups@@SaveNameGroup">Save Name</button>
          <button class="btn btn-danger" type="button" id="cancel" (click)="onCancelChangingName()" i18n="Cancel Changing Name Button| Changing changing name in name of groups@@CancelNameGroup">Cancel</button> -->
        </div>
      </div>
    </div>

    <h1 style="text-align: center" *ngIf="!changeName">
        <button class="btn btn-danger btnHover" *ngIf="admin" style="margin-right: 20px;" (click)="onRemoveGroup()" i18n="Remove Group Button@@RemoveGroupBtn">Remove Group</button>
        <button class="btn btn-danger btnHover" style="margin-right: 20px;" (click)="onLeaveFromGroup()" i18n="Leave Groups Button@@LeaveGroupBtn">Leave Group</button>

      <!-- <img [src]="groupDetailService.getGroupImagePath()" style="width: 50px;" alt=""/> -->
      <!-- <span> {{ groupDetailService.getGroupName() }}</span> -->
      <button class="btn btn-primary" style="margin-left: 25px;" (click)="onSendMailForGroup()" i18n="Send Mail Button@@SendMailBtn"><i class="fa fa-envelope" aria-hidden="true"></i><span>&nbsp;</span> Send Mail</button>
      <button class="btn btn-primary" style="margin-left: 25px;" *ngIf="admin" (click)="onChangAvatarGroup()" i18n="Change Avatar Button@@ChangeAvatarBtn"><i class="fa fa-file-image-o" aria-hidden="true"></i><span>&nbsp;</span> Change Avatar </button>
      <button class="btn btn-primary" style="margin-left: 25px;" *ngIf="admin" (click)="onChangeName()" i18n="Change Name Button@@ChangeNameBtn"><i class="fa fa-pencil" aria-hidden="true"></i><span>&nbsp;</span> Change Name</button>
      <span style="margin: 25px;"> {{ groupDetailService.getGroupName() }}</span>
      <img [src]="groupDetailService.getGroupImagePath()" style="width: 50px;" alt=""/>
    </h1>

    <hr style="border: none;
    background-color: black;
    opacity: 0.2;
    height: 8px;
    width: 950px;">
    <div class="row">

      <div class="col-lg-9">
        <app-peoplegroup-list [namePersonSearch]="namePerson" [people]="groupDetailService.getPeople()" [admin]="admin"></app-peoplegroup-list>
      </div>
      <div class="col-lg-3">
        <div>
          <!-- <div class="row"> -->
            <button class="btn btn-warning" style="position: relative; margin-bottom: 15px; margin-right: 15px;" (click)="onChangeDescriptionGroup()" i18n="Change Description Button@@ChangeDescriptionBtn">Change Description</button>
            <label style="margin-left: 5px; text-align: right;"><h1>תיאור הקבוצה</h1></label>
            <!-- <button class="btn btn-warning" style="position: relative; margin-bottom: 15px; margin-left: 15px;" (click)="onChangeDescriptionGroup()" i18n="Change Description Button@@ChangeDescriptionBtn">Change Description</button> -->
          <!-- </div> -->
          <cdk-virtual-scroll-viewport style="height: 600px;" itemSize="250" class="viewport">
            <h3 style="text-align: right; margin-right: 85px;">{{ description }}</h3>
          </cdk-virtual-scroll-viewport>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <button class="btn btn-danger btnHover" *ngIf="admin" style="float: right; margin-right: 20px;" (click)="onRemoveGroup()" i18n="Remove Group Button@@RemoveGroupBtn">Remove Group</button>
<button class="btn btn-danger btnHover" style="float: right; margin-right: 20px;" (click)="onLeaveFromGroup()" i18n="Leave Groups Button@@LeaveGroupBtn">Leave Group</button> -->
