<ul id="hexGrid">
    <ng-container *ngFor="let person of people | filter : ['user','fullName'] : namePersonSearch : 'includes'; let i = index">
        <ng-container [ngSwitch]="person.user.fullName">
            <li class="hex" *ngSwitchCase="authService.getAcc().fullName">
                <a class="hexIn">
                    <img [src]="person.user.avatarPath" alt=""/>
                    <h1>
                        {{ person.user.fullName }}
                    </h1>
                    <div class="name">{{ person.user.fullName }}</div>
                    <p *ngIf="admin">
                    <button type="button" style="width: 24px; height: 24px; right: 72px; top: 40px;" class="btn btn-secondary" tooltip="Change Avatar" placement="top"><i class="fa fa-user-circle" style="right: 4px; top: 2px; bottom: 0px;" (click)="changeAvatarPerson(person, i)"></i></button>
                    </p>
                    <p *ngIf="!admin">
                    </p>
                </a>
            </li>

            <li class="hex" *ngSwitchDefault>
                <a class="hexIn">
                    <img [src]="person.user.avatarPath" alt=""/>
                    <h1>
                        {{ person.user.fullName }}
                    </h1>
                    <div class="name">{{ person.user.fullName }}</div>
                    <p *ngIf="admin">

                    <button type="button" style="left: 60px; height: 24px;" class="btn btn-danger" tooltip="Remove Him"  placement="bottom" (click)="onRemove(person,i)"><i class="fa fa-times" style="right: 6px; top: 1px; bottom: 0px;"></i></button>
                    <label class="switch" tooltip="Admin" placement="bottom">
                        <input type="checkbox" name="admin" id="admin" [checked]="person.admin" (change)="checkValueAdmin(i)">
                        <span class="slider round"></span>
                    </label>
                    <br>
                    </p>

                    <p *ngIf="!admin">

                    </p>
                </a>
            </li>
        </ng-container>
    </ng-container>
    <a class="float" (click)="onAddPerson()" tooltip="Add Users" placement="bottom">
      <font id="fontFloat" color="#FFFFFF">
        <i class="fa fa-plus my-float" ></i>
      </font>
    </a>
</ul>


