<div class="modal-content modal modal-wide" style="width: auto; max-width: 600px;">
  <div class="modal-header">
    <h4 class="modal-title order-2" i18n="Changing image of group Title Modal@@ChangingImageOfGroupTitleModal">Changing image of group</h4>
    <button type="button" class="close order-1" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="width: auto; height: auto; max-height: 100%;">
      <div class="container">
        <div class="col-xs-12">
            <form class="form">
              <fieldset class="form__fieldset">
            
                <legend class="form__legend" align="right" i18n="Change avatar of group Modal@@ChangeAvatarOfGroupModal">Change avatar of group</legend>
            
                <label class="form__label" for="subject"></label>
                <div class="row align-items-center justify-content-center">
                  <div class="col-xs-2" id="leftPart">
                    <button type="button" class="btn btn-default btn-circle btns-back-and-forward" (click)="onBack()"><i class="fa fa-arrow-circle-o-left fa-2x" aria-hidden="true"></i></button>
                  </div>
                  <div class="col-xs-8">
                    <img [src]="imgPath" id="centerPart">
                  </div>
                  <div class="col-xs-2 align-items-right" id="rightPart">
                    <button type="button" class="btn btn-default btn-circle btns-back-and-forward" (click)="onForward()"><i class="fa fa-arrow-circle-o-right fa-2x" aria-hidden="true"></i></button>
                  </div>
                </div>
              </fieldset>
            </form>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <fieldset class="w-100">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()" i18n="Cancel Changing Avatar OF Group Button Modal@@CancelChangingAvatarOfGroupBtnModal">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="onSaveImage()" i18n="Save Changing Avatar OF Group Button Modal@@SaveChangingAvatarOfGroupBtnModal" style="margin-left: 5px;">Save</button>
    </fieldset>
    
  </div>
</div>
