<div class="modal-content modal modal-wide" style="width: auto; max-width: 600px;">
  <div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="width: auto; height: auto; max-height: 100%;">
      <div class="container">
        <div class="col-xs-12">
            <form class="form">
              <fieldset class="form__fieldset">

                <legend class="form__legend">{{ title }}</legend>

                <label class="form_label" for="nameGroup">שם הקבוצה</label>
                <input type="text" class="form__input" name="nameGroup" [(ngModel)]="nameGroup" placeholder="Name of Group" [disabled]="isInvalidInputName()">
                <br>
                <label class="form_label" for="name">חפש אנשים</label>
                <input class="form__input form-control" type="text" name="name" #searchPeople [(ngModel)]="inputName" #namee="ngModel" placeholder="Search of People">
                <div id="horizscroll">
                  <div class="inlinee" *ngFor="let person of personGroupService.getPeopleToAdd(); let i = index;">
                    <div class="d-flex flex-column align-items-center">
                        <div class=""><app-person-group [nameToAdd]="person.fullName" [person]="person" [indexPerson]="i"></app-person-group></div>
                        <div class=""><p>{{ person.user.fullName }}</p></div>
                      </div>
                  </div>
                </div>
                <br>
                <div class="col-xs-12">
                  <ng-container *ngFor="let person of people">
                    <app-person *ngIf="person.fullName !== authService.getAcc().fullName" style="cursor: pointer;" (click)="onChoosePerson(person)" [name]="person.fullName" [hierarchy]="person.hierarchy"></app-person>
                  </ng-container>
                </div>
                <div class="text-center" *ngIf="isSearching">
                  <h4>מחפש ... </h4>
                </div>
              </fieldset>
              <br>
              <label class="form__label" for="description">תיאור</label>
              <textarea class="form-control" name="description" id="description" [(ngModel)]="description" cols="50" rows="6" [disabled]="isInvalidInputName()" style="overflow: hidden; word-wrap: break-word; resize: none; height: 150px; "></textarea>
              <br>
            </form>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">סגור</button>
    <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="!personGroupService.getPeopleToAdd() || personGroupService.getPeopleToAdd().length === 0">הוסף</button>
  </div>
</div>
